/*

Custom colors

White: #F7F9FB
Light blue: #8FC1E3
Medium blue: #5085A5
Dark blue: #31708E
Brown: #687864

*/

body {
  background: #F7F9FB;
  font-family: 'Montserrat', "Helvetica Neue", Arial, sans-serif;
  padding-top: 56px;
}

.navbar {
  background-color: #31708E;
}

.nav-link, .navbar-brand {
  color: #F7F9FB;
  cursor: pointer;
}

a:hover, .nav-link:hover {
  color: #8FC1E3;
}

.nav-link {
  margin-right: 1em !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-darkblue {
    color: #F7F9FB;
    background-color: #31708E;
    border-color: #31708E;
}

.btn:hover {
    color: #8FC1E3;
    text-decoration: none;
}

.hero, .footer-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.heading-black {
  font-weight: 900;
}

.portfolio-section {
  overflow-x: hidden;
}

.portfolio-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  height: 600px;
  margin-bottom: 30px;
  width: 100%;
}

.portfolio-item .pi-inner {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h2 {
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  letter-spacing: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item .pi-inner:hover {
  opacity: 100;
  background: rgba(0,0,0,0.5);
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  stroke-width: 1;
}

.services-icon {
  margin-bottom: 20px;
  font-size: 30px;
}
